*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.video-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:1rem;
  align-items: flex-start;
  padding:1rem 5%;
}
.video-container .main-video{
  background-color: #eee;
  border-radius: 5px;
  padding:10px ;
}
.video-container .main-video video{
  width:100%;
  border-radius:5px;
}
.video-container .main-video .title{
  color: #000;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.video-container .videolist{
  background: #eee;
  border-radius: 1rem;
  height: 500px;
  overflow-y: scroll;
}
.video-container .videolist::-webkit-scrollbar{
  width: 7px;
}
.video-container .videolist::-webkit-scrollbar-track{
  background: #ccc;
  border-radius: 50px;
}
.video-container .videolist::-webkit-scrollbar-thumb{
  background: #666;
  border-radius: 50px;
}
.video-container .videolist .vid video{
  width: 100%;
  border-radius: 5px;
}
.video-container .videolist .vid{
  
  align-items: center;
  gap: 15px;
  background:#f7f7f7;
  border-radius: 5px;
  margin:10px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
}
.video-container .videolist .vid:hover{
  background: #eee;
}
.video-container .videolist .vid.active{
  background: #cdcd;
}
@media (max-width:960px){
.video-container{
  grid-template-columns: 1.5fr 1fr;
  padding:2rem;
}
}
@media (max-width: 468px){
.video-container{
  grid-template-columns: 1fr;
}
}